-# coding: UTF-8
= navigation
.row
  .large-6.columns
    = preserve content
  .large-6.columns
    .lesson-problems.panel
      .row
        .large-6.large-centered.columns
          .jqpagination
            %a.first{href: '#', 'data-action' => 'first'} &laquo;
            %a.previous{href: '#', 'data-action' => 'previous'} &lsaquo;
            %input{type: 'text', readonly: 'readonly', 'data-max-page' => problems.count}
            %a.next{href: '#', 'data-action' => 'next'} &rsaquo;
            %a.last{href: '#', 'data-action' => 'last'} &raquo;
      - problems.each_with_index do |problem, i|
        %div.problem-wrapper{class: i != 0 ? 'hide' : ''}
          %form.problem{action: '/answers', 'accept-charset' => 'UTF-8', id: "problem_#{problem.id}", method: 'post'}
            %input{type: 'hidden', name: 'position', value: problem.id}
            %fieldset
              %legend Problem #{problem.id + 1}
              - if problem.nesting.any?
                %ul.breadcrumbs
                  - problem.nesting.each do |header|
                    %li
                      %a{href: '#' + header.name}= header.text
              = problem.render
